.main-bottom {
 padding-top: 15px;
 padding-bottom: 15px;
 background-color: rgb(81, 255, 0);
 font-weight: normal;
 font-size: 12px;
 line-height: 16px;
 text-align: center;
 color: rgb(255, 0, 0);
}